/* Overall */
html {
    scroll-behavior: smooth;
}
body {
    background-color: #ffffff; 
    font-family: 'Work Sans', sans-serif;
}
/* Buttons */
.btn-primary {
    background-color:#00b1ba;
    border-color: #00b1ba;
    border-radius: 0px;
    padding: 10px 20px;
}
.btn-primary:hover {
    background-color: #018b98;
    color:#ffffff;
    border-color: #018b98;
}
.btn-outline-primary {
    border-color: #00b1ba;
    color: #00b1ba;
    border-width: 2px;
    border-radius: 0px;
    padding: 10px 20px;
}
.btn-outline-primary:hover {
    background-color: #018b98;
    color:#ffffff;
    border-color:#018b98;
}
/* Links */
a {
    color: #00b1ba;
}
a:hover {
    color: black;
    text-decoration: none;
}
/* Navigatie */
.navbar {
    background-color:#ffffff;
}
.navbar-light .navbar-nav .nav-link {
    color: #00b1ba;
}
.navbar-light .navbar-brand {
    color: #00b1ba;
}
/* Afbeeldingen */
figure img {
    width: 100%;
}